<!--
<div class="row">
    <div class="head" style="text-align: center;">
    <h6>Se connecter</h6>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="">E-mail</label>
            <input type="email" name="" class="form-control" id="">
        </div>
         <div class="form-group">
            <label for="">Password</label>
            <input type="password" name="" class="form-control" id="">
        </div>
        
    </div>
   <a class="btn" href="./shared/header" > se connecter</a>
 </div>-->
 <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"> <img src="assets/images/logoblanc.png" width="100" class="logo"> </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="assets/imprimer.png" class="image"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">    
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Email Address</h6>
                        </label> <input class="mb-4" type="text" name="email" placeholder="Enter a valid email address"> </div>
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Password</h6>
                        </label> <input type="password" name="password" placeholder="Enter password"> </div>
                    <div class="row px-3 mb-4">
                       
                    </div>
                    <div class="row mb-3 px-3"> <a  class="btn btn-blue text-center"  href="./shared/header">Login</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>


