.mg1{
  border: solid 1#eee;
      position: relative;
      left: 39%;
      top: 45px;
      width: 12%;
}
.mg2{
  border: solid 1#eee;
      position: relative;
      left: 27%;
      top: 178px;
      width: 12%;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #f1f1f1;
    position: fixed;
    height: auto;
    /*overflow: scroll;*/
  }
#shapes .collapse .row .col-2{
  display: contents;
}
  .sidebar a {
    display: block;
    padding: 1em;
    text-align: center;
    text-decoration: none;
  }
 

  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
.btn{
  text-align: center;
  background: #324161;
  color: white;
}
.btn:hover{
  text-align: center;
  background:#324161;
  color: white;
}/*
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}*/
input:focus, select:focus, textarea:focus{
  box-shadow: none;
}
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
   }

  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  a{
    text-decoration: none;
    margin: 0.2em;
  }


  .canvas-body{
     width:auto;
    overflow-x: scroll;
		overflow-y: scroll;
    min-height: 20em;
    background: rgb(23, 100, 145)! important;
		box-sizing: border-box;
		border: 1px solid #cacaca;
    text-align: center;
		position: fixed;
    margin-left: 30em;

  }

  #wrapper {
    border: solid 1px black dashed;
    resize: both;
    overflow: hidden;
    min-width: 4em;
    min-height: 4em;
}

  .menu
  {
    position: relative;
    max-width: 400px;
      text-align: center;
        height: auto;
          overflow: scroll;
          margin-left: 6em;
  }
  .card{
    background:wheat !important;

  }

  canvas{
    background:wheat !important;
    border-radius: 0.5em;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, .4);
    display: inline-block;
    margin: 0.5em;
    position: relative;
    vertical-align: middle;
    z-index: 0;
    border: 1px dashed blue;
  }


#settingmenu{
  position: relative;
  width: auto;
  height: auto;
  padding: 0.1em;
  display: flex;

}

h6{
  padding: 0.2em;

}

  @media screen  and (max-width:320) {
    .canvas-body{
      position: relative;
      top: 25em;

    }

  }


  @media screen and (max-width:768){
    .canvas-body{
      position: relative;
      margin-left: 0em;
    }

  }


  @media screen and (min-width:992){
    .canvas-body{
      position: relative;
    }

  }

  /*

    Min-width: 320px (smaller phone viewpoints)
    Min-width: 480px (small devices and most phones)
    Min-width: 768px (most tablets)
    Min-width: 992px (smaller desktop viewpoints)
    Min-width: 1200px (large devices and wide screens)

  **/

