.container{
        text-align: center;
        position: fixed;
        margin-left: 271px;
        margin-right: 45px;
        margin-top: 110px;
        height: 380px;
        width: 797px;
}
html{
    height: 900px;
    background: green;
}
.row{
    height: 379px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.col-6{
    position: relative;
    left: 202px;
    bottom: 79px;
    text-align: initial;
}
.btn{
    background: rebeccapurple;
    margin: 12px;
}
select:focus{
    box-shadow: none;
}